<%- include('./main/layoutStart', {title: metaTitle}) %>
<%- include('./main/header', {title, navigation, currentUrl}) %>

<main class="main">
  <!-- content -->
</main>

<%- include('./main/layoutEnd') %>
