<%- include('../main/layoutStart', {title: metaTitle}) %>
<%- include('../main/header', {title, navigation, currentUrl}) %>

<main class="main">
  <h1>404 Not Found</h1>
</main>

<%- include('../main/layoutEnd') %>
